/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #f4f4f9;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

main {
    padding: 2rem;
}

.niveau {
    display: none;
}

.niveau.actif {
    display: block;
}
/* L4 affine */
input, button {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Timer */
#timer {
    font-size: 1.5rem;
    margin: 1rem;
    color: #ff5722;
}

/* Galerie */
.image-galerie {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    border: 2px solid #333;
    border-radius: 5px;
}